name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: agr-data-mesh

    steps:
    - uses: actions/checkout@v4

    - name: Install Rust components
      run: rustup component add rustfmt clippy
    
    - name: Build
      run: cargo build --verbose

    - name: Check formatting
      run: cargo fmt -- --check

    - name: Run Clippy
      run: cargo clippy -- -D warnings
      
    - name: Run tests
      run: cargo test --verbose
